<div id="side-menu" class="col-sm-3">
  <ul>
    <li>
      <%= link_to "Hobby", hobby_posts_path, class: 'category' %>
    </li>
      <%= link_to "Study", study_posts_path, class: 'category' %>
    <li></li>
      <%= link_to "Team", team_posts_path, class: 'category' %>
    <li></li>
  </ul>
</div>
